@model CareerInfo.Model.News

@{
     ViewData["Title"] = @Model.Title;
     Layout = "_InnerPages";
     ViewBag.BodyId = "news";
}


<div id="courseBanner" style="background-image: url('/NewsImages/@Model.Image')">
     <div class="container">
          <h2><span class="glyphicons glyphicons-newspaper"></span> @Model.Title</h2>
          <br />
          <h4>@Model.Description</h4>
     </div>
</div>




<div id="innerCon">
     <div class="container-fluid">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
               <div>
                    <h2><span class="fa fa-mortar-board"></span> News Article </h2>

                    @Html.Raw(Model.Article)
               </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
               <div>
                    <h2><span class="fa fa-newspaper-o"></span> Latest News</h2>
               </div>

               <div>
                    <h2><span class="glyphicons glyphicons-blog"></span> Similar Posts</h2>
               </div>
          </div>
     </div>
</div>